/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
/.vscode
/.settings
/nbproject
/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
startserver.bat
.settings
.buildpath
.project
.phpstorm.meta.php
/bootstrap/cache
/nbproject
/public/test2
/public/comdata
/public/sysdata/template
/public/sysdata/sslcerts
/public/shop/admin
/public/shop/front
/public/shop/supplier
/backup
/tasks
/public/tmpdata
/app/Http/Controllers/TestController.php
.php_cs.cache
/vendor/phpoffice/phpspreadsheet/docs/assets/ClassDiagrams/obj/Debug/ClassDiagrams.csprojAssemblyReference.cache